extends layout

block content
    h1 Instructor Dashboard
    p.lead Manage new client requests, create student teams, and manage student teams
    hr
    .row
            h2 Review Client Requests
            p You have XXX(future functionality?) pending client requests
            p
                a.btn.btn-default(href='#', role='button') View details »
