extends layout

block content
    h1 Dashboard
    p.lead A web-app for teachers, students, and potential clients to interact in the UNC COMP523 class.
    hr
    .row
            h2 Instructor
            p Manage interactions with potential clients, assign the final group-client pairs, and keep track of student progress on milestones.
            p
                a.btn.btn-default(href='#', role='button') View details »
