extends ../layout

block content
    h1 Instructor Dashboard
    p.lead Manage new client requests, create student teams, and manage student teams
    hr
    .row
            h2 Manage Client Requests
            p
                //if pendingClientRequests
                | You have
                strong  #{approvedClientRequests}
                |  approved client requests
                | You have
                strong  #{pendingClientRequests}
                |  pending client requests
                | You have
                strong  #{rejectedClientRequests}
                |  rejected client requests
            p
                a.btn.btn-default(href='/instructor/client-proposals', role='button') View details »
    hr
    .row
        h2 Manage Client Emails
        p Send emails to approved, pending, or rejected clients.
        p
            a.btn.btn-default(href='/instructor/email-clients', role='button') View details »
    hr
    .row
        h2 Manage Student Milestones
        p View and track student-submitted milestones
        p
            a.btn.btn-default(href='#', role='button') View details »
    hr
    .row
        h2 Assign Students to Teams
        p Click here to assign students to accepted clients
        p
            a.btn.btn-default(href='#', role='button') View details »
